* text=auto
.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=lf
*.wgsl text eol=lf
*.json text eol=lf
*.txt text eol=lf
*.ttf binary
tests/fixtures/fonts/*-LICENSE -text
Cargo.lock text eol=lf
LICENSE-* text eol=lf
